#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]
<IfModule mod_rewrite.c>
    RedirectMatch permanent ^/index\.php/(.*) /$1
    Options -MultiViews

    RewriteEngine On
    RewriteBase /app/web/   
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
