{% extends "members_layout.html" %}

{% block content %}
	<div class="banner-bottom-agileits" id="about">
			
			<div class="col-md-5 w3l_banner_bottom_right">
				<img src="../images/grad1.png" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-7 w3l_banner_bottom_left">
				<h3>Fab Academy Stories</h3>
				<p>A Fab Lab is a technical prototyping platform for innovation and invention, providing stimulus for local entrepreneurship. A Fab Lab is also a platform for learning and innovation: a place to play, to create, to learn, to mentor, to invent.
					<span>All Fab Labs share common tools and processes, the program is building a global network, a distributed laboratory for research and invention.</span></p>
			</div>
			<div class="clearfix"></div>
	</div>
    
{% endblock %}