<div class="contact" id="contact">
    <div class="container">
        <div class="w3ls-heading">
            <h3>Get In Touch</h3>
            <p class="sub">Drop by our offices or give us a call.</p>
        </div>
        <div class="w3layouts-grids">
            <div class="col-md-4 contact-left">
                <div class="contact-info">
                    <div class="contact-info-left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="contact-info-right">
                        <h5>Address</h5>
                        <p>Kisumu Central Bisuness District<br>
                            <span>P.O. Box 3188,</span> Kisumu
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="contact-info">
                    <div class="contact-info-left">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                    </div>
                    <div class="contact-info-right">
                        <h5>Mobile</h5>
                        <ul>
                            <li>+254720355951</li>
                            <li>+254724587654</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="contact-info">
                    <div class="contact-info-left">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="contact-info-right">
                        <h5>E-Mail</h5>
                        <ul>
                            <li><a href="mailto:example@mail.com">aro.fablab@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-8 contact-form">
                <form action="#" method="post">
                    <input type="text" name="Name" placeholder="Name" required="">
                    <input type="email" class="email" name="Email" placeholder="Email" required="">
                    <div class="clearfix"> </div>
                    <input type="text" class="phone" name="phone" placeholder="Phone Number" required="">
                    <textarea placeholder="Message" name="Message" required=""></textarea>
                    <input disabled type="submit" value="SUBMIT">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>