<div class="w3ls_banner_section">
    <div class="container">
        <h2>Meet the <span>Makers</span></h2>
        {#
        <p> for Admission Coming soon</p>

        <div class="wthree-counter-agile">
            <!--timer-->
            <section class="examples">
                <div class="simply-countdown-losange" id="simply-countdown-losange"></div>
                <div class="clearfix"></div>
            </section>

            <!--//timer-->

        </div> #} {#
        <div class="agileits_more">
            <ul>
                <li><a href="#contact" data-toggle="modal" data-target="#myModal4" class="w3ls_banner_more hvr-icon-hang scroll ">Contact Us</a></li>
                <li><a href="#about" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Read More</a></li>
            </ul>
        </div> #}
    </div>
</div>