{% extends "layout.html" %}

{% block content %}
	<div class="banner-bottom-agileits" id="about">
			
			<div class="col-md-5 w3l_banner_bottom_right">
				<img src="images/grad1.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-7 w3l_banner_bottom_left">
				<h3>Complete Solution For You Education Needs</h3>
				<p>Nullam at turpis vel sapien aliquam feugiat vitae vitae mi. 
					Donec scelerisque, justo vel blandit tempor, quam tellus blandit lectus, ut viverra leo 
					velit et quam. Phasellus viverra et quam efficitur rhoncus sollicitudin..
					<span>Donec porttitor neque sed mauris sagittis, a auctor enim porta. 
						Sed tristique sollicitudin orci. Vivamus vulputate nunc id nulla elementum,nec vehicula ipsum ullamcorper.</span></p>
			</div>
			<div class="clearfix"></div>
	</div>
    
{% endblock %}