<div class="services" id="membership">
    <div class="container">
        <div class="w3ls-heading">
            <h3 class="h-two">Membership</h3>
            <p class="sub two">Select from any of our membership tiers that fits you.</p>
        </div>
        <div class="w3layouts-grids">
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-star-half" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Sungura</h5>
                        <P>Targetting indivduals and groups of ages between (5-18) with interest in CAD , Electronic fabrication, programming and genreal digital fabrication. </P>
                        <p>Contact us for more details</p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Kifaru</h5>
                        <P>Targetting students from universities and techical institutions. This is a good fit for students who have no internship experience or have and looking to advance.</P>
                        <p>Contact us for more details</p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Simba</h5>
                        <p>Targetting Artisans, Graduates, Research students , Artisans, Entreprenuers and Industrialists.</p>
                        <p>Contact us for more details</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>