<div class="news" id="news">
    <div class="w3ls-heading">
        <h3>Latest News</h3>
        <p class="sub">Morbi in dui pretium, finibus sapien vel.</p>
    </div>
    <div class="w3layouts-grids">
        <div class="col-md-6 news-agileits-right news2">
            <i>16th November 2016</i>
            <p>Cras id odio elit. Ut scelerisque pellentesque tortor, vitae sagittis metus maximus eu. Nulla vel luctus nunc, quis pulvinar mi.</p>
            <img src="images/f3.jpg" alt="image">
            <h6>John Stella</h6>
        </div>
        <div class="col-md-5 news-agileits-left video2">
            <div class="button">
                <a href="#small-dialog" class="play-icon popup-with-zoom-anim"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
                <div class="agileits_modal_body">
                    <iframe src="https://www.youtube.com/embed/dilnw_dP3xk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-5 news-agileits-left">
            <div class="button">
                <a href="#small-dialog" class="play-icon popup-with-zoom-anim"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
                <div class="agileits_modal_body">
                    <iframe src="https://www.youtube.com/embed/dilnw_dP3xk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 news-agileits-right">
            <i>5th December 2016</i>
            <p>Cras id odio elit. Ut scelerisque pellentesque tortor, vitae sagittis metus maximus eu. Nulla vel luctus nunc, quis pulvinar mi.</p>
            <img src="images/f4.jpg" alt="image">
            <h6>Anjelina</h6>
        </div>
        <div class="clearfix"></div>
    </div>
</div>