<div class="services" id="services">
    <div class="container">
        <div class="w3ls-heading">
            <h3 class="h-two">Learning Opportunities</h3>
            <p class="sub two">Explore a vast array of learning and digital fabriation Opportunities.</p>
        </div>
        <div class="w3layouts-grids">
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Fab Lab</h5>
                        <p>A Fab Lab is a technical prototyping platform for innovation and invention, providing stimulus for local entrepreneurship.</p>
                    </div>
                </div>
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Fab Academy</h5>
                        <p>Fab Academy has been offering students from all over the world a new way to approach knowledge and technological tools.</p>
                    </div>
                </div>
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Fab Research</h5>
                        <p>This is the educational outreach program for MIT’s Center for Bits & Atoms</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="services-right-grids">
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Fab Education</h5>
                        <p>Through Fab Foundation is supporting and facilitating digital fabrication education for learners of all ages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>