<div class="services" id="services">
    <div class="container">
        <div class="w3ls-heading">
            <h3 class="h-two">Learning Opportunities</h3>
            <p class="sub two">Explore a vast array of learning and digital fabriation Opportunities.</p>
        </div>
        <div class="w3layouts-grids">
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Skills</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Self Learning</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Knowledge</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Discussion</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>International Payments</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Hosted Content</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>