<div class="news" id="programs">
    <div class="w3ls-heading">
        <h3>Programs</h3>
        <p class="sub">Be part of our in-house programs to help you grow.</p>
    </div>
    <div class="w3layouts-grids">
        <div class="col-md-6 news-agileits-right news2">
            <i>Fab Kids</i>
            <p>Fab Kids is a great program aimed at identifying and on-boarding young talents in to the world of digital fabrication and design.</p>
        </div>
        <div class="col-md-5 news-agileits-left video2">
            <div class="button">
                <a href="#small-dialog" class="play-icon popup-with-zoom-anim"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
                <div class="agileits_modal_body">
                    <iframe src="https://player.vimeo.com/video/100215534" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-5 news-agileits-left">
            <div class="button">
                <a href="#small-dialog" class="play-icon popup-with-zoom-anim"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
                <div class="agileits_modal_body">
                    <iframe src="https://www.youtube.com/embed/oaAPUl32eHg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 news-agileits-right">
            <i>Fab Academy</i>
            <p>The role of Fab Academy is to initiate, mentor and technically train new students for participation and leadership in the global Fab Lab Network community.</p>
            <p>During Fab Academy, you will learn how to envision, prototype and document your ideas through many hours of hands-on experience with digital fabrication tools. You will work weekly in short term assignments and complete the course with a Final
                Project mixing and blending all the acquired knowledg</p>
            <p><a target="_blank" href="https://form.jotformeu.com/71832813940356">Apply for Fab Academy 2018</a></p>

        </div>
        <div class="clearfix"></div>
    </div>
</div>